@import "mixins";
/* Site Styles */
* {margin: 0;padding: 0;box-sizing: border-box;list-style: none;font-family: "HelveticaLTStd", sans-serif}

body {background-color: $body-background;color: $text-color;font-size: 14px;
  &.lightbox-on {overflow: hidden;
    @include media-desktop-only {padding-right: 17px}
  }
}

h1, h2, {text-transform: uppercase}

h1, h2, a, .link-like {letter-spacing: 0.1em}

a, .link-like {cursor: pointer;color: $text-color;text-decoration: none;transition: .3s ease-in-out;
  &:hover, &:active {color: $peach}
}

img {user-select: none}

nav.app-menu, main.app-wrapper, footer.app-footer {@include restrict-width($app-max-width)}

header.app-header {position: sticky;top: 0;z-index: 1;background-color: $body-background;width: 100%;
  nav.app-menu {margin: auto;display: flex;justify-content: space-between;align-items: center;border-bottom: 2px solid $peach;
    a {border-bottom: 1px solid transparent;user-select: none}
    h1 {font-size: 16px;padding: 10px 15px}
    ul.menu-list {display: flex;justify-content: flex-end;align-items: center;
      li {font-weight: bold;text-transform: uppercase;padding: 10px 15px;font-size: 16px}
    }
    a.active {color: $peach;transition-delay: .3s}
  }
  @include media-tablet-portrait {
    nav.app-menu {justify-content: center;
      h1 {display: none}
      ul.menu-list {padding: 0 10px;justify-content: center;flex-wrap: wrap;
        li {padding: 10px 7px;font-size: 15px}
      }
    }
  }
  @include media-small-phone {
    nav.app-menu {
      ul.menu-list {
        li {font-size: 14px}
      }
    }
  }
}

/* General styles for main section */
main.app-wrapper {padding: 20px;
  h1 {margin-bottom: 30px;font-size: 8vw;color: $peach}
  section {min-height: calc(100vh - 60px);
    h2 {text-align: center;margin-bottom: 140px}
    + section {margin-top: 100px;padding-top: 140px}
    @include media-tablet-landscape {
      h2 {margin-bottom: 110px}
      + section {padding-top: 100px}
    }
    @include media-phone {
      h2 {margin-bottom: 60px}
      + section {padding-top: 50px}
    }
  }
}

section.home-exhibit {position: relative;
  video.exhibit-video {@include restrict-width(720px);object-fit: cover}
}

/* Sculptures section styles */
section.gallery-wrapper {display: flex;flex-direction: column;align-items: center;position: relative;
  .image-gallery {display: flex;flex-wrap: wrap;justify-content: center;align-items: flex-start;width: 100%;margin: -30px;
    .gallery-item {display: flex;height: 300px;margin: 30px;position: relative;max-width: 100%;
      .image-container {width: 100% !important;height: 100% !important;overflow: hidden;
        .gallery-image {height: 100% !important;width: auto !important;overflow: hidden;object-fit: contain}
      }
      video {height: 100% !important;width: auto !important;overflow: hidden;object-fit: contain}
      &.small {height: 200px}
      &.large {height: 400px}
      &.portrait {height: 400px;
        &.small {height: 300px}
        &.large {height: 500px}
      }
      .gif-led-drop {position: absolute;right: -60px;width: 60px;object-fit: cover;pointer-events: none;
        &.top {top: 0}
        &.middle {top: 50%;margin-top: -75px}
        &.bottom {bottom: 0}
        @include media-tablet-portrait {
          display: none;
        }
      }
    }
  }
  @include media-phone {
    .image-gallery {flex-wrap: nowrap;@include flex-centered(column);margin: 0;
      .gallery-item {padding: 20px;margin: 0;width: 100%;height: auto !important;
        .image-container {
          .gallery-image {height: 100% !important;width: 100% !important}
        }
      }
    }
  }
  &.videos {
    h2 {margin-bottom: 40px}
    .video-gallery {width: 100%;margin: -30px;
      .disclaimer {font-size: 16px;letter-spacing: 0.03em;margin-bottom: 80px}
      .image-gallery {margin: 0}
    }
  }
}

section.contact-and-list {position: relative;
  .contact {display: flex;align-items: center;flex-direction: column;
    h2 {margin-bottom: 80px}
    img {object-fit: contain;
      &.portrait {width: 150px}
      &.landscape {height: 150px}
    }
    .info-list {margin-top: 50px;font-size: 16px;
      li + li {margin-top: 10px}
    }
  }
  .projects-list {margin-top: 140px;
    h2 {margin-bottom: 80px}
    .items-list {font-size: 16px;letter-spacing: 0.03em;
      li {
        span {cursor: pointer;transition: .2s color;
          &:hover {color: $peach}
        }
        + li {margin-top: 10px}
      }
    }
  }
}

footer.app-footer {padding-bottom: 20px;margin-top: 100px;border-top: 2px solid $peach;font-size: 14px;letter-spacing: 0.03em;
  ul.legal {margin-top: 100px;
    li {
      a {font-weight: bold}
      + li {margin-top: 10px}
      &.admin-link {text-transform: uppercase}
    }
  }
}

.gif-line-drop {position: absolute;width: 100px;
  &.top {top: 0;left: 0}
  &.bottom {bottom: 0;right: 0}
  &.middle {right: -50px;
    &:nth-child(even) {left: -50px}
  }
  @include media-tablet-portrait {
    display: none;
  }
}

.back-to-top-button {border-radius: 50%;background-color: $peach;height: 45px;width: 45px;
  position: fixed;bottom: 15px;right: 15px;z-index: 5;box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;opacity: 0;pointer-events: none;transition: .3s opacity ease-in-out;
  .click-up {width: 25px;
    svg polygon {fill: black!important;}
  }
  &.show {opacity: 1;pointer-events: auto}
  &.active {opacity: 0;pointer-events: none}
}

.image-modal {z-index: 2;padding: 10px;animation: fade-in .2s linear;
  display: flex;flex-direction: column;align-items: center;justify-content: center;
  .backdrop {@include full-spread;z-index: 1;background-color: rgba(0, 0, 0, .7)}
  .image-wrapper {width: 60%;height: 60%;position: relative;
    .title {position: absolute;z-index: 3;top: 100%;left: 0;right: 0;padding: 15px;text-align: center;
      h2 {font-size: 18px;margin-bottom: 10px}
      p {font-size: 14px}
    }
    img, video {height: 100%;width: 100%;max-height: calc(100vh - 20px);position: relative;z-index: 2;
      object-fit: contain;}
  }
  .actions {@include restrict-width($app-max-width);position: absolute;top: 0;bottom: 0;margin-right: 32px;
    justify-content: space-between;z-index: 2;pointer-events: none;
    .icon-wrapper {cursor: pointer;pointer-events: auto;
      svg polygon {fill: white;transition: fill .2s ease-in-out}
      &.click-next, &.click-prev {height: 70px;width: 120px}
      &.click-close {position: absolute;z-index: 3;right: 50px;top: 50px;height: 45px}
      &:hover svg polygon {fill: $peach}
    }
  }
  @include media-tablet-landscape {
    .actions {margin-right: 0}
  }
  @include media-phone {padding: 20px;
    .backdrop {background-color: rgba(0, 0, 0, .9)}
    .image-wrapper {width: 100%;height: 100%;@include flex-centered;
      .title {position: fixed;top: calc(100% - 80px);width: 100%}
      img, video {height: auto}
    }
    .actions {
      .icon-wrapper {
        &.click-next, &.click-prev {height: 50px;width: 70px}
        &.click-close {top: 20px;right: 20px;height: 35px}
      }
    }
  }
}

.image-container.zoom-image {cursor: zoom-in !important;
  .image-large-container {
    .image-large {object-fit: cover}
  }
}

.embedded-video {margin: 20px;
  iframe {height: 100%;width: 100%}
  &.landscape {width: 450px}
  &.portrait {height: 450px}
}

@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1}
}