/* General Constants*/
$body-background: black;
$text-color: white;
$app-max-width: 1100px;
/* Header Constants */
$header-color: #faa085;
$header-height: 45px;
/* Mixins */
@mixin full-spread($position: absolute) {
  position: $position;top: 0;right: 0;bottom: 0;left: 0;
}

@mixin flex-centered($direction: row) {
  display: flex;flex-direction: $direction;align-items: center;justify-content: center;
}

@mixin restrict-width($restriction, $width: 100%) {
  width: $width;max-width: $restriction;
}

/* Media Queries */
$media-small-phone: 320px;
$media-phone: 599px;
$media-tablet-portrait: 800px;
$media-tablet-landscape: 1024px;
@mixin media-small-phone {
  @media only screen and (max-width: #{$media-small-phone}) {@content}
}

@mixin media-phone {
  @media only screen and (max-width: #{$media-phone}) {@content}
}

@mixin media-tablet-portrait {
  @media only screen and (max-width: #{$media-tablet-portrait}) {@content}
}

@mixin media-tablet-landscape {
  @media only screen and (max-width: #{$media-tablet-landscape}) {@content}
}

/* Fonts */
@font-face {
  font-family: "HelveticaLTStd";
  src: url("/assets/fonts/HelveticaLTStd-Light.woff2") format("woff2"),
  url("/assets/fonts/HelveticaLTStd-Light.woff") format("woff"),
  url("/assets/fonts/HelveticaLTStd-Light.otf") format("opentype"),
  url("/assets/fonts/HelveticaLTStd-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Reusables */
.centered {text-align: center}

.underline {text-decoration: underline}

.flex-row-centered {@include flex-centered}

.flex-col-centered {@include flex-centered(column)}

/* Site Styles */
* {margin: 0;padding: 0;box-sizing: border-box;list-style: none;font-family: "HelveticaLTStd", sans-serif;max-width: 100vw;}

body {background-color: $body-background;color: $text-color;font-size: 14px;
  &.lightbox-on {overflow: hidden;padding-right: 17px;
    header.app-header {padding-right: 17px}
    @include media-tablet-landscape {
      padding-right: 0;
      header.app-header {padding-right: 0}
    }
  }
}

h1, h2, {text-transform: uppercase}

a {cursor: pointer;color: $text-color;text-decoration: none;transition: .3s ease-in-out;
  &:hover, &:active {color: $header-color}
}

nav.app-menu, main.app-wrapper, footer.app-footer {@include restrict-width($app-max-width)}

header.app-header {height: $header-height;position: fixed;top: 0;left: 0;right: 0;z-index: 1;background-color: $body-background;
  nav.app-menu {margin: auto;display: flex;justify-content: space-between;align-items: center;
    a {border-bottom: 1px solid transparent;user-select: none}
    h1 {font-size: 16px;padding: 10px 15px}
    ul.menu-list {display: flex;justify-content: flex-end;align-items: center;
      li {font-weight: bold;text-transform: uppercase;padding: 10px 15px;font-size: 16px;
        &:last-child {font-size: 1em}
      }
    }
    a.active {color: $header-color;border-color: white;transition-delay: .3s}
  }
  &:after {content: "";position: absolute;height: 20px;bottom: -20px;right: 0;left: 0;background: linear-gradient(black, transparent)}
  @include media-phone {
    nav.app-menu {justify-content: center;
      h1 {display: none}
      ul.menu-list {padding: 0 10px;
        li {padding: 10px 7px}
      }
    }
  }
  @include media-small-phone {
    nav.app-menu {
      ul.menu-list {
        li {font-size: 14px}
      }
    }
  }
}

/* General styles for main section */
main.app-wrapper {padding: $header-height 20px 20px 20px;
  h1 {margin-top: 10px;font-size: 12vw}
  section {
    h2 {text-align: center;margin-bottom: 30px}
    + section {margin-top: 100px}
  }
}

section.home-exhibit {
  video.exhibit-video {@include restrict-width(720px);object-fit: cover}
}

/* Sculptures section styles */
section.gallery-wrapper {display: flex;flex-direction: column;align-items: center;
  .image-gallery {display: flex;flex-wrap: wrap;justify-content: center;align-items: flex-end;width: 100%;
    .image-wrapper {display: flex;cursor: pointer;height: 300px;margin: 20px;position: relative;max-width: 100%;
      .image-container {width: 100% !important;height: 100% !important;overflow: hidden;
        .gallery-image {height: 100% !important;width: auto !important;overflow: hidden;object-fit: contain}
      }
      .description {opacity: 0;pointer-events: none;position: absolute;bottom: 0;left: 0;right: 0;padding: 10px;
        background: linear-gradient(transparent, black);transition: opacity .2s ease-in-out}
      &:hover .description {opacity: 1;pointer-events: auto}
    }
  }
  @include media-phone {
    .image-gallery {
      .image-wrapper {margin: 10px;height: auto;
        .image-container {
          .gallery-image {width: 100% !important}
        }
      }
    }
  }
}

section.contact {
  ul.info-list {
    li {font-size: 16px;
      + li {margin-top: 10px}
    }
  }
}

section.projects-list {
  ul {display: flex;flex-direction: column;@include restrict-width(700px);
    .project-item {
      span {font-size: 16px;cursor: pointer;transition: color .3s ease-in-out;
        &:hover {color: $header-color}
      }
      + .project-item {margin-top: 10px}
    }
  }
}

footer.app-footer {padding-bottom: 20px;margin-top: 100px;
  hr {margin: 20px 0}
  a {font-weight: bold;}
}

.back-to-top-button {border-radius: 50%;background-color: white;height: 45px;width: 45px;font-size: 40px;
  color: black;position: fixed;bottom: 10px;right: 10px;z-index: 1;box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  transition: opacity .5s ease-in-out;cursor: pointer;animation: await-load 1s;
  .icon-up {display: flex;height: 100%;width: 100%}
  &.active {opacity: 0;pointer-events: none}
}

.image-modal {@include full-spread(fixed);z-index: 2;padding: 10px;
  display: flex;flex-direction: column;align-items: center;justify-content: center;
  .backdrop {@include full-spread;z-index: 1;background-color: rgba(0, 0, 0, .7)}
  img {height: 100%;width: 100%;max-height: calc(100vh - 20px);position: relative;z-index: 2;animation: scale-in .3s linear}
  .description {position: absolute;z-index: 2;bottom: 0;left: 0;right: 0;padding: 10px 50px;text-align: center;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.7));}
  .next, .prev, .close {position: absolute;font-size: 100px;cursor: pointer;user-select: none;z-index: 3}
  .next {right: 0}
  .prev {left: 0}
  .close {font-size: 70px;right: 20px;top: 20px;line-height: 35px}
  @include media-tablet-landscape {
    width: 100vw;
  }
}

.image-container.zoom-image {cursor: zoom-in !important;
  .image-large-container {z-index: 10;border: 2px solid $header-color !important;box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    position: fixed !important;top: 50% !important;right: auto !important;bottom: auto !important;left: 50% !important;
    margin-left: -175px !important;margin-top: -175px !important;
    .image-large {object-fit: cover}
  }
}

.embedded-video {margin: 20px;
  iframe {height: 100%;width: 100%}
  &.landscape {width: 450px}
  &.portrait {height: 450px}
}

.scroll-arrow {position: fixed;
  fill: white;
  .arrow-line {animation: drop-line 2s ease-in-out infinite;opacity: 0;transition: .2s}
  .arrow-head {animation: show-head 2s ease-in-out infinite;opacity: 0;transition: .2s}
  &:nth-of-type(1) {
    .arrow-line, .arrow-head {animation-delay: 3s}
  }
}

@keyframes scale-in {
  from {opacity: 0;transform: scale(0.9)}
  to {opacity: 1;transform: scale(1)}
}

@keyframes await-load {
  0%, 100% {opacity: 0;pointer-events: none}
}

@keyframes drop-line {
  0%, 50%, 100% {opacity: 1}
  0% {transform: scaleY(0.6) translateY(-30px);opacity: 0}
  50% {transform: scaleY(0.4) translateY(200px)}
  100% {transform: scaleY(0.4) translateY(200px)}
}

@keyframes show-head {
  0% {opacity: 0}
  50%, 100% {opacity: 1}
}