
.icon-bold:before { content: '\e800'; } /* '' */
.icon-italic:before { content: '\e801'; } /* '' */
.icon-undo:before { content: '\e802'; } /* '' */
.icon-redo:before { content: '\e803'; } /* '' */
.icon-link:before { content: '\e804'; } /* '' */
.icon-upload:before { content: '\e805'; } /* '' */
.icon-other:before { content: '\f08e'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-underline:before { content: '\f0cd'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-prev:before { content: '\f104'; } /* '' */
.icon-next:before { content: '\f105'; } /* '' */
.icon-up:before { content: '\f106'; } /* '' */
.icon-youtube:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-flickr:before { content: '\f16e'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-publish:before { content: '\f1d8'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-vimeo:before { content: '\f27d'; } /* '' */